<div id="map" style="height: 300px; width: 100%; margin-bottom: 30px"></div>
<script>
function initMap() {
var parking = {
  lat: {{ page.parking.lat }},
  lng: {{ page.parking.lng }}
};
var map = new google.maps.Map(
  document.getElementById('map'), {
    zoom: 13,
    center: parking,
    fullscreenControl: false,
    mapTypeId: 'terrain'
  });
  var marker = new google.maps.Marker({
    position: parking,
    map: map,
    label: "🅿",
  });
  var infowindow = new google.maps.InfoWindow({
          content: '<a href="https://www.google.com/maps/?q={{ page.parking.lat }},{{ page.parking.lng }}">Indicazioni stradali per il parcheggio</a>'
  });
  infowindow.open(map,marker);
}
</script>
